*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    font-family: 'Flamenco', cursive;
}
header{
    background-image:url('../image/image1.jpg');
    background-image: linear-gradient(rgba(0,0,0,0.20)rgba(0,0,0,0.20));
    background-size: cover;
    background-repeat: no-repeat;
    height: 160vh;

}
.row
{
    max-width: 1180px;
    margin: 0 auto;
}
.sketch{
    height: 300px;
    width: auto;
    float: left;
    margin-top: 20px;
    position: absolute;
    left: 2%;
}

.sketch1{
    height: 300px;
    width: auto;
    float: left;
    margin-top: 20px;
    position: absolute;
    left: 22%;;
    transition: transform .2s; /* Animation */
    z-index: 1;

}
.sketch1:hover {
    transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.sketch2{
    height: 300px;
    width: auto;
    float: left;
    margin-top: 20px;
    position: absolute;
    left: 40%;
}
.sketch3{
    height: 300px;
    width: auto;
    float: left;
    margin-top: 20px;
    position: absolute;
    left: 60%;
}
.sketch4{
    height: 300px;
    width: auto;
    float: left;
    margin-top: 20px;
    position: absolute;
    left: 80%;
}
.sketch5{
    height: 300px;
    width: auto;
    float: left;
    margin-top: 350px;
    position: absolute;
    left: 2%;
}
.sketch6{
    height: 300px;
    width: auto;
    float: left;
    margin-top: 350px;
    position: absolute;
    left: 21%;
}
.sketch7{
    height: 300px;
    width: auto;
    float: left;
    margin-top: 350px;
    position: absolute;
    left: 41%;
}
.sketch8{
    height: 300px;
    width: auto;
    float: left;
    margin-top: 350px;
    position: absolute;
    left: 60%;
}
.sketch9{
    height: 300px;
    width: auto;
    float: left;
    margin-top: 350px;
    position: absolute;
    left: 80%;
}
.sketch10{
    height: 300px;
    width: auto;
    float: left;
    margin-top: 700px;
    position: absolute;
    left: 2%;
}