
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    font-family: 'Flamenco', cursive;
}
header{
    background-image:url('../image/image1.jpg');
    background-image: linear-gradient(rgba(0,0,0,0.20)rgba(0,0,0,0.20));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.clearflix:after{
    contain: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row
{
    max-width: 1180px;
    margin: 0 auto;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
    position: absolute;
    left: 3%;
}
.main-nav
{
    float: right;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
} 
.main-nav li a{
    padding: 5px 0;
    color:rgba(0, 0, 0, 0.993);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100px;
}
.main-nav li a:hover{
    border-bottom: 2px solid #bf55ec; 
}
.main-content-header{
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    color:white;
    font-size: 300%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-weight: bolder;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s,color 0.2;
}
.btn-full{
    background-color: white;
    color: #bf55ec;
    margin-right: 30px;
    border: 1px solid #f80606;
}
.btn-full:hover{
    background-color:skyblue;

}
.btn-nav{
    background-color: white;
    color:#bf55ec;
    border: 1px solid rgb(228, 6, 6);
}
.btn-nav:hover{
    background-color: skyblue;

}
.colorchange{
    animation: colorchangeabhi 1s infinite;
}
@keyframes colorchangeabhi{
    0%{color: red;}
    25%{color: rgb(255, 0, 200);}
    50%{color:red;}
    100%{color:green}

}
.mobileicon{display: none}

/*////////Responsive query//////*/
@media only screen and (max-width:1180px){
    .main-content-header{
        width: 100%;
        padding:0 2%;
    }
}
@media only screen and (max-width:998px){
    h1{font-size: 200%;}

}
@media only screen and (max-width:768px){
    h1{font-size: 180%;}
    .main-nav{display: none;}
    .mobileicon{
        display: inline-block;
        color: #fff;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }
    .main-nav{float: left;}
    .main-nav li{
        display: block;
        margin-top: 10px;
    }
}
@media only screen and (max-width:480px){
    .btn-full{
    margin-left:40px;
    } 
    h1{font-size: 160%;}
}
